<img src='pics/otus.png'>

In [2]:
from __future__ import print_function
from collections import defaultdict
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.cm as cm
import seaborn as sns

%matplotlib inline
plt.rcParams["figure.figsize"] = (15, 8)
pd.options.display.float_format = '{:.2f}'.format

## 0. Выберите любой датасет, связанный с медицинской тематикой.

Выбран датасет https://www.kaggle.com/ruslankl/mice-protein-expression

# 1. Провести EDA
Просмотреть структуру данных, значения каждого признака, поискать особенности в признаках и в данных вцелом

In [4]:
df =pd.read_csv('Data_Cortex_Nuclear.csv')

In [6]:
df.head(3)

,MouseID,DYRK1A_N,ITSN1_N,BDNF_N,NR1_N,NR2A_N,pAKT_N,pBRAF_N,pCAMKII_N,pCREB_N,...,pCFOS_N,SYP_N,H3AcK18_N,EGR1_N,H3MeK4_N,CaNA_N,Genotype,Treatment,Behavior,class
0,309_1,0.50,0.75,0.43,2.82,5.99,0.22,0.18,2.37,0.23,...,0.11,0.43,0.11,0.13,0.13,1.68,Control,Memantine,C/S,c-CS-m
1,309_2,0.51,0.69,0.41,2.79,5.69,0.21,0.17,2.29,0.23,...,0.10,0.44,0.11,0.14,0.13,1.74,Control,Memantine,C/S,c-CS-m
2,309_3,0.51,0.73,0.42,2.69,5.62,0.21,0.18,2.28,0.23,...,0.11,0.44,0.11,0.13,0.13,1.93,Control,Memantine,C/S,c-CS-m

Краткое описание признаков:
[1] Mouse ID

[2:78] Values of expression levels of 77 proteins; the names of proteins are followed by N indicating that they were measured in the nuclear fraction. *For example: DYRK1A_n*

[79] Genotype: control (c) or trisomy (t)

[80] Treatment type: memantine (m) or saline (s)

[81] Behavior: context-shock (CS) or shock-context (SC)

[82] Class: c-CS-s, c-CS-m, c-SC-s, c-SC-m, t-CS-s, t-CS-m, t-SC-s, t-SC-m

В качетве целевой переменной будем использовать классы, признаки - сила экспресси в генах.

Уберем лишнее и проанализируем, какие значения у нас есть

In [7]:
df = df.drop(labels = ['MouseID', 'Genotype', 'Treatment', 'Behavior'], axis=1)

In [8]:
df.head(3)

,DYRK1A_N,ITSN1_N,BDNF_N,NR1_N,NR2A_N,pAKT_N,pBRAF_N,pCAMKII_N,pCREB_N,pELK_N,...,BAD_N,BCL2_N,pS6_N,pCFOS_N,SYP_N,H3AcK18_N,EGR1_N,H3MeK4_N,CaNA_N,class
0,0.50,0.75,0.43,2.82,5.99,0.22,0.18,2.37,0.23,1.75,...,0.12,nan,0.11,0.11,0.43,0.11,0.13,0.13,1.68,c-CS-m
1,0.51,0.69,0.41,2.79,5.69,0.21,0.17,2.29,0.23,1.60,...,0.12,nan,0.11,0.10,0.44,0.11,0.14,0.13,1.74,c-CS-m
2,0.51,0.73,0.42,2.69,5.62,0.21,0.18,2.28,0.23,1.56,...,0.12,nan,0.11,0.11,0.44,0.11,0.13,0.13,1.93,c-CS-m

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1080 entries, 0 to 1079
Data columns (total 78 columns):
DYRK1A_N           1077 non-null float64
ITSN1_N            1077 non-null float64
BDNF_N             1077 non-null float64
NR1_N              1077 non-null float64
NR2A_N             1077 non-null float64
pAKT_N             1077 non-null float64
pBRAF_N            1077 non-null float64
pCAMKII_N          1077 non-null float64
pCREB_N            1077 non-null float64
pELK_N             1077 non-null float64
pERK_N             1077 non-null float64
pJNK_N             1077 non-null float64
PKCA_N             1077 non-null float64
pMEK_N             1077 non-null float64
pNR1_N             1077 non-null float64
pNR2A_N            1077 non-null float64
pNR2B_N            1077 non-null float64
pPKCAB_N           1077 non-null float64
pRSK_N             1077 non-null float64
AKT_N              1077 non-null float64
BRAF_N             1077 non-null float64
CAMKII_N           1077 non-null float64
CREB_N             1077 non-null float64
ELK_N              1062 non-null float64
ERK_N              1077 non-null float64
GSK3B_N            1077 non-null float64
JNK_N              1077 non-null float64
MEK_N              1073 non-null float64
TRKA_N             1077 non-null float64
RSK_N              1077 non-null float64
APP_N              1077 non-null float64
Bcatenin_N         1062 non-null float64
SOD1_N             1077 non-null float64
MTOR_N             1077 non-null float64
P38_N              1077 non-null float64
pMTOR_N            1077 non-null float64
DSCR1_N            1077 non-null float64
AMPKA_N            1077 non-null float64
NR2B_N             1077 non-null float64
pNUMB_N            1077 non-null float64
RAPTOR_N           1077 non-null float64
TIAM1_N            1077 non-null float64
pP70S6_N           1077 non-null float64
NUMB_N             1080 non-null float64
P70S6_N            1080 non-null float64
pGSK3B_N           1080 non-null float64
pPKCG_N            1080 non-null float64
CDK5_N             1080 non-null float64
S6_N               1080 non-null float64
ADARB1_N           1080 non-null float64
AcetylH3K9_N       1080 non-null float64
RRP1_N             1080 non-null float64
BAX_N              1080 non-null float64
ARC_N              1080 non-null float64
ERBB4_N            1080 non-null float64
nNOS_N             1080 non-null float64
Tau_N              1080 non-null float64
GFAP_N             1080 non-null float64
GluR3_N            1080 non-null float64
GluR4_N            1080 non-null float64
IL1B_N             1080 non-null float64
P3525_N            1080 non-null float64
pCASP9_N           1080 non-null float64
PSD95_N            1080 non-null float64
SNCA_N             1080 non-null float64
Ubiquitin_N        1080 non-null float64
pGSK3B_Tyr216_N    1080 non-null float64
SHH_N              1080 non-null float64
BAD_N              867 non-null float64
BCL2_N             795 non-null float64
pS6_N              1080 non-null float64
pCFOS_N            1005 non-null float64
SYP_N              1080 non-null float64
H3AcK18_N          900 non-null float64
EGR1_N             870 non-null float64
H3MeK4_N           810 non-null float64
CaNA_N             1080 non-null float64
class              1080 non-null object
dtypes: float64(77), object(1)
memory usage: 658.2+ KB

Есть значения, где есть нулевые значения, заполним их средним значениями из групп

In [12]:
df.describe()

,DYRK1A_N,ITSN1_N,BDNF_N,NR1_N,NR2A_N,pAKT_N,pBRAF_N,pCAMKII_N,pCREB_N,pELK_N,...,SHH_N,BAD_N,BCL2_N,pS6_N,pCFOS_N,SYP_N,H3AcK18_N,EGR1_N,H3MeK4_N,CaNA_N
count,1077.00,1077.00,1077.00,1077.00,1077.00,1077.00,1077.00,1077.00,1077.00,1077.00,...,1080.00,867.00,795.00,1080.00,1005.00,1080.00,900.00,870.00,810.00,1080.00
mean,0.43,0.62,0.32,2.30,3.84,0.23,0.18,3.54,0.21,1.43,...,0.23,0.16,0.13,0.12,0.13,0.45,0.17,0.18,0.21,1.34
std,0.25,0.25,0.05,0.35,0.93,0.04,0.03,1.30,0.03,0.47,...,0.03,0.03,0.03,0.01,0.02,0.07,0.06,0.04,0.06,0.32
min,0.15,0.25,0.12,1.33,1.74,0.06,0.06,1.34,0.11,0.43,...,0.16,0.09,0.08,0.07,0.09,0.26,0.08,0.11,0.10,0.59
25%,0.29,0.47,0.29,2.06,3.16,0.21,0.16,2.48,0.19,1.20,...,0.21,0.14,0.12,0.11,0.11,0.40,0.13,0.16,0.17,1.08
50%,0.37,0.57,0.32,2.30,3.76,0.23,0.18,3.33,0.21,1.36,...,0.22,0.15,0.13,0.12,0.13,0.45,0.16,0.17,0.19,1.32
75%,0.49,0.70,0.35,2.53,4.44,0.26,0.20,4.48,0.23,1.56,...,0.24,0.17,0.15,0.13,0.14,0.49,0.20,0.20,0.24,1.59
max,2.52,2.60,0.50,3.76,8.48,0.54,0.32,7.46,0.31,6.11,...,0.36,0.28,0.26,0.16,0.26,0.76,0.48,0.36,0.41,2.13

Показатели имеют различный разброс - нужно его выровнить

In [13]:
import seaborn

In [ ]:
seaborn.pairplot(df.drop('class', axis=1))

In [ ]:
corr = df.corr()
seaborn.heatmap(corr, 
            xticklabels=corr.columns.values,
            yticklabels=corr.columns.values)

# 2. Спланировать эксперимент 


Эксперимент - составить план, по которому будет проделана исследовательская работа. Примерные пункты плана:
* Составить первичный список признаков, необходимых для решения задачи
* Сгенерировать список новых признаков, которые можно получить из данных
* Применить понижение размерности для визуализации данных
* Применить кластеризацию, визуализировать
* Описание кластера
* Любые другие пункты

- 1 - заполнить нулевые значения средними по выборке
- 2 - генерировать не будем, их и так много, да и сложно комбинировать экспрессию в генах
- 3 - отмасштабировать призника
- 4 - перевести целевую переменную в категориальную
- 5 - Применить logistic regression с cv на 5 фолдов
- 6 - точность проверям auc-score
- 7 - понижаем размерность  по PCA (до 2 и до оптимального параметра)
- 8 - визуализируем 
- 9 - снова применяем log regression
- 10 - точность проверям auc-score
- 11 - понижаем размерность  по tsne (до 2 и до оптимального параметра)
- 12 - визуализируем 
- 13 - снова применяем log regression
- 14 - точность проверям auc-score
- 15 - ради интереса класстиризуем и визуализируем

# 3. Выполнить подготовку данных для построения модели

Выполнить необходимые преобразования данных

# 4. Провести построение модели

# 5. Проанализировать результат
получилось или нет, почему, что можно улучшить, можно ли интерпретировать результат

# 6. Повторить при необходимости

# Подсказки

* Проводить EDA и работу с признаками на всем датасете
* Для построения модели отсеивать данные тем или иным способом (обосновать выбор) - уменьшить объем данных для анализа
* Оформлять для сдачи задания все эксперименты (в том числе неудачные). Так мы сможем увидеть процесс работы над заданием
* Не тратить 90% времени на первый этап. Планировать время так, чтобы успеть поработать над моделью (в равной степени над каждым пунктом).

In [2]:
df = pd.read_csv('data.csv')
df.head()

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst,Unnamed: 32
0,842302,M,17.99,10.38,122.80,1001.00,0.12,0.28,0.30,0.15,...,17.33,184.60,2019.00,0.16,0.67,0.71,0.27,0.46,0.12,nan
1,842517,M,20.57,17.77,132.90,1326.00,0.08,0.08,0.09,0.07,...,23.41,158.80,1956.00,0.12,0.19,0.24,0.19,0.28,0.09,nan
2,84300903,M,19.69,21.25,130.00,1203.00,0.11,0.16,0.20,0.13,...,25.53,152.50,1709.00,0.14,0.42,0.45,0.24,0.36,0.09,nan
3,84348301,M,11.42,20.38,77.58,386.10,0.14,0.28,0.24,0.11,...,26.50,98.87,567.70,0.21,0.87,0.69,0.26,0.66,0.17,nan
4,84358402,M,20.29,14.34,135.10,1297.00,0.10,0.13,0.20,0.10,...,16.67,152.20,1575.00,0.14,0.20,0.40,0.16,0.24,0.08,nan

In [3]:
df['diagnosis'] = pd.Categorical(df.diagnosis).codes 
df.drop(df.columns[len(df.columns)-1], axis=1, inplace=True)
df.head()

,id,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,...,radius_worst,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst
0,842302,1,17.99,10.38,122.80,1001.00,0.12,0.28,0.30,0.15,...,25.38,17.33,184.60,2019.00,0.16,0.67,0.71,0.27,0.46,0.12
1,842517,1,20.57,17.77,132.90,1326.00,0.08,0.08,0.09,0.07,...,24.99,23.41,158.80,1956.00,0.12,0.19,0.24,0.19,0.28,0.09
2,84300903,1,19.69,21.25,130.00,1203.00,0.11,0.16,0.20,0.13,...,23.57,25.53,152.50,1709.00,0.14,0.42,0.45,0.24,0.36,0.09
3,84348301,1,11.42,20.38,77.58,386.10,0.14,0.28,0.24,0.11,...,14.91,26.50,98.87,567.70,0.21,0.87,0.69,0.26,0.66,0.17
4,84358402,1,20.29,14.34,135.10,1297.00,0.10,0.13,0.20,0.10,...,22.54,16.67,152.20,1575.00,0.14,0.20,0.40,0.16,0.24,0.08

In [4]:
X = df.drop(['id', 'diagnosis'], axis=1).as_matrix()
X.shape

(569, 30)

In [5]:
y = df['diagnosis'].as_matrix()
y.shape

(569,)

In [8]:
from sklearn.decomposition import PCA
pca = PCA()
pca.fit(X)

PCA(copy=True, iterated_power='auto', n_components=None, random_state=None,
  svd_solver='auto', tol=0.0, whiten=False)

In [9]:
dir(pca)

['__abstractmethods__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__doc__',
 '__format__',
 '__getattribute__',
 '__getstate__',
 '__hash__',
 '__init__',
 '__module__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_abc_cache',
 '_abc_negative_cache',
 '_abc_negative_cache_version',
 '_abc_registry',
 '_fit',
 '_fit_full',
 '_fit_truncated',
 '_get_param_names',
 'components_',
 'copy',
 'explained_variance_',
 'explained_variance_ratio_',
 'fit',
 'fit_transform',
 'get_covariance',
 'get_params',
 'get_precision',
 'inverse_transform',
 'iterated_power',
 'mean_',
 'n_components',
 'n_components_',
 'n_features_',
 'n_samples_',
 'noise_variance_',
 'random_state',
 'score',
 'score_samples',
 'set_params',
 'singular_values_',
 'svd_solver',
 'tol',
 'transform',
 'whiten']

In [11]:
pca.components_

(30, 30)