In [4]:
import numpy as np
import pandas as pd
import os

Загружаем данные по сессиям

In [289]:
testdf=pd.read_csv('coursera_sessions_test.txt',sep=';',header=None,names=['v','b'],dtype={'v': str, 'b': str})
traindf=pd.read_csv('coursera_sessions_train.txt',sep=';',header=None,names=['v','b'],dtype={'v': str, 'b': str})
traindf.head(10)

                                        v         b
0                             0,1,2,3,4,5       NaN
1                    9,10,11,9,11,12,9,11       NaN
2                       16,17,18,19,20,21       NaN
3                          24,25,26,27,24       NaN
4     34,35,36,34,37,35,36,37,38,39,38,39       NaN
5                                      42       NaN
6                                47,48,49       NaN
7  59,60,61,62,60,63,64,65,66,61,67,68,67  67,60,63
8                             71,72,73,74       NaN
9                                76,77,78       NaN

Расчитаем частоты появляения id в обучающей выборке

In [6]:
# Функция считает количество появлений каждого ИД в наборе.
# Под набором (sessions) понимаем списке просмотренных или купленных товарах во всей выборке 
def get_num(sessions):
    # Формируем список всех встречающихся ИД в наборе
    l=list()
    for session in sessions:
        l+=session.split(',')
    l=list(map(int,l))
    # Считаем сколько раз встретился каждый ИД в наборе
    freq = np.bincount(l)
    ii = np.nonzero(freq)[0]
    # Возвращаем список - (ИД - количество раз сколько он встретился в списке)
    return list(zip(ii,freq[ii]))

In [7]:
# Формируем для каждого ИД количество его наблюдений в просмотре и покупке на обучении
# Считаем количество в просмотрах
rate_df=pd.DataFrame(get_num(list(traindf.v)),columns=['id','view_num'])
rate_df=rate_df.set_index('id')
# Считаем количество в покупках
rate_df1=pd.DataFrame(get_num(list(traindf.b.dropna())),columns=['id','buy_num'])
rate_df1=rate_df1.set_index('id')
# Объединяем, считаем, что если товара не было в покупках, то он не покупался
rate_df=rate_df.join(rate_df1)
rate_df=rate_df.fillna(0)

In [41]:
rate_df

        view_num  buy_num  view_rank  buy_rank
0              6      0.0    14211.5   53509.5
1              6      0.0    14211.5   53509.5
2              9      0.0     8828.0   53509.5
3              7      0.0    11933.5   53509.5
4             11      0.0     6734.0   53509.5
5              4      1.0    21598.5    2473.0
6            283      2.0        9.0     367.0
7            312      2.0        6.0     367.0
8            225      3.0       13.0     110.0
9              7      0.0    11933.5   53509.5
10             7      0.0    11933.5   53509.5
11             5      0.0    17263.5   53509.5
12            17      0.0     3508.0   53509.5
13            10      0.0     7697.5   53509.5
14             4      0.0    21598.5   53509.5
16            36      0.0      958.5   53509.5
17            70      2.0      251.0     367.0
18            11      0.0     6734.0   53509.5
19            35      0.0     1011.5   53509.5
20            48      0.0      555.5   53509.5
21            11      0.0     6734.0   53509.5
22            37      0.0      910.0   53509.5
23            19      0.0     2913.5   53509.5
24             7      0.0    11933.5   53509.5
25             6      0.0    14211.5   53509.5
26             7      0.0    11933.5   53509.5
27            15      0.0     4274.0   53509.5
28           148      3.0       51.0     110.0
29            16      1.0     3875.0    2473.0
30            29      1.0     1434.5    2473.0
...          ...      ...        ...       ...
102739         0      0.0    89859.0   53509.5
102747         0      0.0    89859.0   53509.5
102754         0      0.0    89859.0   53509.5
102755         0      0.0    89859.0   53509.5
102756         0      0.0    89859.0   53509.5
102757         0      0.0    89859.0   53509.5
102758         0      0.0    89859.0   53509.5
102759         0      0.0    89859.0   53509.5
102760         0      0.0    89859.0   53509.5
102768         0      0.0    89859.0   53509.5
102769         0      0.0    89859.0   53509.5
102770         0      0.0    89859.0   53509.5
102771         0      0.0    89859.0   53509.5
102772         0      0.0    89859.0   53509.5
102773         0      0.0    89859.0   53509.5
102774         0      0.0    89859.0   53509.5
102775         0      0.0    89859.0   53509.5
102786         0      0.0    89859.0   53509.5
102787         0      0.0    89859.0   53509.5
102788         0      0.0    89859.0   53509.5
102789         0      0.0    89859.0   53509.5
102790         0      0.0    89859.0   53509.5
102791         0      0.0    89859.0   53509.5
102792         0      0.0    89859.0   53509.5
102793         0      0.0    89859.0   53509.5
102799         0      0.0    89859.0   53509.5
102800         0      0.0    89859.0   53509.5
102807         0      0.0    89859.0   53509.5
102808         0      0.0    89859.0   53509.5
102809         0      0.0    89859.0   53509.5

[102653 rows x 4 columns]

In [8]:
# Добавляем  ИД, которые есть в тесте, но нет в обучении
# Получаем список ИД в тесте
test_ids=list()
for s in list(testdf.v):
    test_ids+=s.split(',')
test_ids=list(map(int,test_ids))
# Определяем те, которых нет в обучении
dif=set(test_ids).difference(list(rate_df.index))
dif=list(dif)
dfdif=pd.DataFrame(index=dif,columns=['view_num','buy_num'])
dfdif.view_num=0
dfdif.buy_num=0
rate_df=rate_df.append(dfdif)

In [9]:
# Считаем для каждого ИД его ранк относительно просмотренных и купленных товаров
rate_df['view_rank']=rate_df.view_num.rank(ascending=False)
rate_df['buy_rank']=rate_df.buy_num.rank(ascending=False)

In [10]:
rate_df.head()

   view_num  buy_num  view_rank  buy_rank
0         6      0.0    14211.5   53509.5
1         6      0.0    14211.5   53509.5
2         9      0.0     8828.0   53509.5
3         7      0.0    11933.5   53509.5
4        11      0.0     6734.0   53509.5

Реализуйте два алгоритма рекомендаций:
* сортировка просмотренных id по популярности (частота появления в просмотренных),
* сортировка просмотренных id по покупаемости (частота появления в покупках).

In [12]:
view_ids=traindf.loc[7,'v']
view_ids=view_ids.split(',')
view_ids=list(map(int,view_ids))
#get_recom_id(view_ids,5,'view_rank')
a=rate_df.loc[{64, 65, 66, 67, 68, 59, 60, 61, 62, 63},'view_rank']
print (a.sort_index())
#print (a.sort_index().sort_values())

59    61559.5
60    39021.5
61    39021.5
62    61559.5
63    14211.5
64    28082.5
65    39021.5
66    39021.5
67    39021.5
68    39021.5
Name: view_rank, dtype: float64

In [37]:
# Фуникция получает на вход ИД view_ids и возвращает k из них, в соотвествии с алгоритмом рекомендации alg
# view_ids - просмотренные товары
# k - количество рекомендаций для возврата
# alg - алгорим построения рекомендаций (view_rank - по популярности, buy_rank - по покупаемости)
def get_recom_id(view_ids,k,alg):
    # список уникальных ИД
    view=set(view_ids) 
    # минимум из К и количеством товаров
    first=min(k,len(view_ids))
    # возвращаем топ лучших ИД 
    return list(rate_df.loc[view,alg].sort_values(kind='mergesort')[0:first].index)

Раcсчет метрик

In [14]:
# Функция расчитывает для сессии [view,buy] метрики precision(k), recall(k) исходя из алгоритма рекомендаций alg
def metric(view,buy,k,alg):
    view_ids=view.split(',')
    view_ids=list(map(int,view_ids))
    buy_ids=buy.split(',')
    buy_ids=list(map(int,buy_ids))
    # получаем список рекомендаций для сессии
    recom=get_recom_id(view_ids,k,alg)
    # Считаем количество покупок из рекомендованных
    purchases=0
    for id_ in buy_ids:
        if id_ in recom:
            purchases+=1
    #print ("buy=%s, recom=%s, purchases=%s"%(buy_ids,recom,purchases))
    # Precision = Количество покупок из рекомендованных / k
    precision=purchases/k
    # Recall = Количество покупок из рекомендованных / Количество покупок
    recall=purchases/len(buy_ids)
    return precision,recall

In [15]:
# Фуникция считает метрики precision(k), recall(k) для сессий в DF
def calc_metrics(df):
    for session in df[df.b.notnull()].iterrows():
        id_=session[0]
        view=session[1]['v']
        buy=session[1]['b']
        for k in [1,5]:
            for alg in ['view_rank','buy_rank']:
                p,r=metric(view,buy,k,alg)
                df.loc[id_,'p'+str(k)+alg]=p
                df.loc[id_,'r'+str(k)+alg]=r

In [38]:
calc_metrics(traindf)

In [39]:
calc_metrics(testdf)

Для данных алгоритмов выпишите через пробел AverageRecall@1, AveragePrecision@1, AverageRecall@5, AveragePrecision@5 на обучающей и тестовых выборках, округляя до 2 знака после запятой. Это будут ваши ответы в этом задании.

In [18]:
def get_avg_metrics(df):
    res=pd.DataFrame(columns=['view_rank','buy_rank'])
    for k in [1,5]:
        for metric in ['r','p']:
            for alg in ['view_rank','buy_rank']:
                res.loc[metric+str(k),alg]=round(df[metric+str(k)+alg].mean(skipna=True),2)
    return res

In [19]:
t1=get_avg_metrics(traindf)
t1

   view_rank buy_rank
r1      0.44     0.67
p1      0.51     0.78
r5      0.82     0.93
p5      0.21     0.25

In [20]:
t2=get_avg_metrics(testdf)

Посмотрите, как они соотносятся друг с другом. Где качество получилось выше? Значимо ли это различие? Обратите внимание на различие качества на обучающей и тестовой выборке в случае рекомендаций по частотам покупки.

In [33]:
def write_answer(filename,data):
    print (data.T)
    data.T.to_csv(filename,index=False,sep=' ',header=False)

In [34]:
write_answer('res1.txt',t1[['view_rank']])
# 0.44 0.51 0.82 0.21

             r1    p1    r5    p5
view_rank  0.44  0.51  0.82  0.21

In [35]:
write_answer('res2.txt',t2[['view_rank']])
# 0.41 0.48 0.8 0.2

             r1    p1   r5   p5
view_rank  0.41  0.48  0.8  0.2

In [40]:
write_answer('res3.txt',t1[['buy_rank']])
# 0.68 0.79 0.93 0.25

            r1    p1    r5    p5
buy_rank  0.67  0.78  0.93  0.25

In [113]:
(t2['buy_rank']).as_matrix()
#merge [0.42, 0.48, 0.79, 0.2]
#quic [0.42, 0.49, 0.79, 0.2]
#heap 0.41, 0.48, 0.79, 0.2

array([0.42, 0.48, 0.79, 0.2], dtype=object)

* На обучении качество лучше для обоих алгоритмов  
* На тесте качество не зависит от алгоритма
* На тесте качество для рекомендации по популярности незначительно отличается от обучения
* На тесте качество для рекомендации по покупук сильно хуже обучения

### Fork

In [156]:
from collections import defaultdict
import operator

#traindf=traindf.drop(labels=['p1view_rank','r1view_rank','p1buy_rank','p5view_rank'],axis=1)
traindf=traindf.drop(labels=['r1buy_rank','r5view_rank','p5buy_rank','r5buy_rank'],axis=1) 
traindf

,v,b,v_sorted
0,"0,1,2,3,4,5",NaN,"[4, 2, 3, 0, 1, 5]"
1,"9,10,11,9,11,12,9,11",NaN,"[12, 9, 10, 11]"
2,"16,17,18,19,20,21",NaN,"[17, 20, 16, 19, 18, 21]"
3,"24,25,26,27,24",NaN,"[27, 24, 26, 25]"
4,"34,35,36,34,37,35,36,37,38,39,38,39",NaN,"[35, 34, 36, 37, 38, 39]"
5,42,NaN,[42]
6,"47,48,49",NaN,"[48, 47, 49]"
7,"59,60,61,62,60,63,64,65,66,61,67,68,67","67,60,63","[63, 64, 60, 61, 65, 66, 67, 68, 59, 62]"
8,"71,72,73,74",NaN,"[73, 72, 71, 74]"
9,"76,77,78",NaN,"[77, 76, 78]"
10,"84,85,86,87,88,89,84,90,91,92,93,86",86,"[85, 93, 89, 90, 84, 92, 86, 87, 91, 88]"
11,"114,77,115,116,117,118,119,120,121,120,122,123...",NaN,"[115, 114, 77, 124, 118, 122, 116, 123, 117, 1..."
12,"129,130,131,132,133,134",NaN,"[129, 130, 132, 134, 131, 133]"
13,"93,137,138,139,140,141,142,141,143,144",NaN,"[137, 93, 140, 144, 142, 138, 139, 141, 143]"
14,"97,155,156,155,157,93",NaN,"[93, 157, 155, 97, 156]"
15,"163,87,129,164,129,130,165,166",NaN,"[166, 129, 130, 163, 87, 165, 164]"
16,"173,174,175,174,176",NaN,"[176, 174, 173, 175]"
17,"136,192",NaN,"[136, 192]"
18,"195,196",NaN,"[195, 196]"
19,"138,198,199,127",199,"[127, 138, 198, 199]"
20,"206,207",NaN,"[207, 206]"
21,"216,217",NaN,"[216, 217]"
22,220,NaN,[220]
23,"223,224,225",NaN,"[223, 224, 225]"
24,"241,242,243,244,245,246,247,248,249,242",NaN,"[241, 243, 249, 242, 246, 247, 248, 245, 244]"
25,"253,254,169",NaN,"[169, 253, 254]"
26,"262,263,262,264",NaN,"[262, 264, 263]"
27,"265,266,267,268,269,270,269,268,271,272,273,27...",NaN,"[273, 281, 269, 283, 279, 267, 270, 280, 268, ..."
28,291,NaN,[291]
29,"296,297,298,299",NaN,"[297, 296, 298, 299]"
...,...,...,...
49970,"102761,24754,48117,14732,162,46291,102762,1092...",NaN,"[162, 2084, 1140, 6570, 977, 2864, 10166, 1032..."
49971,"9399,93922,23810,16769,10976,16580,102776,1027...",NaN,"[2287, 5055, 10976, 5848, 1151, 438, 3907, 206..."
49972,"13344,13037,99575,22310,34469,16194,90788,2146...",NaN,"[1011, 2070, 5788, 5922, 511, 2594, 78154, 133..."
49973,"10258,22738,982,17615,48769,102794,49168,1431,...",NaN,"[2513, 10258, 1431, 6047, 9382, 982, 155, 465,..."
49974,"16024,8367,16024,17060,17061,75302,49246,102801",NaN,"[8367, 16024, 17061, 49246, 17060, 75302, 102801]"
49975,"18211,40362,81465,86547,40362,81465",NaN,"[40362, 18211, 81465, 86547]"
49976,"1748,8509,8521,7594",NaN,"[8521, 7594, 8509, 1748]"
49977,"56484,62543,57533",NaN,"[57533, 56484, 62543]"
49978,"38846,16421,8321",NaN,"[16421, 38846, 8321]"
49979,"20408,33706,41416,33706,41416,20408,41416,2040...",NaN,"[20408, 41416, 33706]"
49980,"390,4535,381,382,381",NaN,"[4535, 390, 382, 381]"
49981,"64552,25931,2807","25935,2807","[2807, 25931, 64552]"
49982,"30508,2915,17064,38717",NaN,"[38717, 30508, 2915, 17064]"
49983,"2582,3059",NaN,"[3059, 2582]"
49984,49195,NaN,[49195]
49985,"35572,27139,42308,2503,49977,35569,17942,35569...",NaN,"[17711, 21841, 21839, 22388, 22562, 23711, 441..."
49986,"17711,21841,17711,21841,17711,21841",NaN,"[17711, 21841]"
49987,"1480,2639,1480,1054,557,10991,1055,1054,10991,...",NaN,"[1054, 1055, 10991, 6023, 557, 2639, 2187, 206..."
49988,"29504,14159,24162",NaN,"[24162, 29504, 14159]"
49989,"9831,3059,2581",NaN,"[3059, 9831, 2581]"
49990,"42379,64439,43687,47097,18694,32320",NaN,"[43687, 47097, 64439, 18694, 42379, 32320]"
49991,"91921,20251,5063,21742,5063,20251,34927",91921,"[5063, 21742, 20251, 91921, 34927]"
49992,"102802,83951,102802",NaN,"[102802, 83951]"
49993,"28165,24167,28165",NaN,"[28165, 24167]"
49994,"99782,92081,18697,92081,18697,42615,99782,7188...",NaN,"[42615, 99782, 18697, 72334, 92081, 71885, 723..."
49995,"32291,60520,32291,38220",32291,"[32291, 38220, 60520]"
49996,"60479,28288,102804,102805",NaN,"[28288, 60479, 102804, 102805]"
49997,"980,20025,980,20025,980,20025,980,20025",NaN,"[20025, 980]"
49998,"8844,42500,8838,8172,29237,352,8847,6681,8827,...",NaN,"[352, 8847, 8172, 6681, 42500, 8827, 8844, 883..."
49999,"39047,102806,27774",NaN,"[39047, 102806, 27774]"

In [290]:
def count_freq(sessions):
    all_vals=[]
    for session in sessions:
        list_session=list(map(int,session.split(',')))
        all_vals +=list_session
    freq_dict= defaultdict( int )
    for v in all_vals:
        freq_dict[v] += 1
    return freq_dict

In [291]:
# Количество просмотров
view_freq=count_freq(traindf.v.values)
# Количество покупок
buy_freq=count_freq(traindf.b.dropna().values)

In [300]:
def sort_row_by_view(session):
    row=list(map(int,session.split(',')))
    df=pd.DataFrame(row,columns=['_id'])
    df.drop_duplicates(inplace=True)
    df['or']=df.index
    df['v']=df._id.apply(lambda x:view_freq[x])
    df.sort_values(by=['v','or'],ascending=[False,True],inplace=True)
    return list(df._id)
def sort_row_by_buy(session):
    row=list(map(int,session.split(',')))
    df=pd.DataFrame(row,columns=['_id'])
    df.drop_duplicates(inplace=True)
    df['or']=df.index
    df['v']=df._id.apply(lambda x:buy_freq[x])
    df.sort_values(by=['v','or'],ascending=[False,True],inplace=True)
    return list(df._id)
sort_row_by_buy(traindf.loc[7,'v'])

[60, 63, 67, 59, 61, 62, 64, 65, 66, 68]

In [277]:
def get_recom(row,k):
    if len(row)<k: 
        max_recom=len(row)
    else: max_recom=k
    return row[:max_recom]

def get_recom5(row):
    return get_recom(row,5)
def get_recom2(row):
    return get_recom(row,2)    
def get_recom1(row):
    return get_recom(row,1)

get_recom(traindf.v_sorted[5],5)

[42]

In [182]:
def calc_metric(buy,recom,k):
    buy_ids=buy.split(',')
    buy_ids=list(map(int,buy_ids))
    # Считаем количество покупок из рекомендованных
    purchases=0
    for id_ in buy_ids:
        if id_ in recom:
            purchases+=1
    # Precision = Количество покупок из рекомендованных / k
    precision=purchases/k
    # Recall = Количество покупок из рекомендованных / Количество покупок
    recall=purchases/len(buy_ids)
    return precision,recall
calc_metric(traindf.b[7],traindf.v_recom_5[7],5)

(0.4, 0.6666666666666666)

In [282]:
def calc_4_metric(df,t):
    for i in range(df.shape[0]):
        buy=df.loc[i,'b']
        if buy==-1: continue
        recom5=df.loc[i,t+'_recom_5']
        recom1=df.loc[i,t+'_recom_1']
        p,r=calc_metric(buy,recom5,5)
        df.loc[i,t+'_p_5']=p
        df.loc[i,t+'_r_5']=r
        p,r=calc_metric(buy,recom1,1)
        df.loc[i,t+'_p_1']=p
        df.loc[i,t+'_r_1']=r
    
#calc_4_metric(traindf,'v')

In [218]:
def write_avg_metric(filename,ar1,ap1,ar5,ap5):
    f=open(filename,'w')
    f.write(str(round(ar1.mean(),2))+" ")
    f.write(str(round(ap1.mean(),2))+" ")
    f.write(str(round(ar5.mean(),2))+" ")
    f.write(str(round(ap5.mean(),2))+" ")
    f.close()

In [301]:
# Сортируем строку в соответствии с частотой
traindf['v_sorted']=traindf.v.apply(sort_row_by_view)
traindf['b_sorted']=traindf.v.apply(sort_row_by_buy)

In [302]:
# Формируем рекомендации для строки
traindf['v_recom_1']=traindf.v_sorted.apply(get_recom1)
traindf['v_recom_5']=traindf.v_sorted.apply(get_recom5)
traindf['b_recom_1']=traindf.b_sorted.apply(get_recom1)
traindf['b_recom_5']=traindf.b_sorted.apply(get_recom5)

In [304]:
traindf.fillna(-1,inplace=True)

In [305]:
# Cчитаем метрики
calc_4_metric(traindf,'v')
calc_4_metric(traindf,'b')

In [308]:
write_avg_metric('res1.txt',traindf.v_r_1,traindf.v_p_1,traindf.v_r_5,traindf.v_p_5)

In [309]:
write_avg_metric('res3.txt',traindf.b_r_1,traindf.b_p_1,traindf.b_r_5,traindf.b_p_5)

In [314]:
traindf[['v','b','b_sorted','b_recom_1','b_recom_5']]

,v,b,b_sorted,b_recom_1,b_recom_5
0,"0,1,2,3,4,5",-1,"[5, 0, 1, 2, 3, 4]",[5],"[5, 0, 1, 2, 3]"
1,"9,10,11,9,11,12,9,11",-1,"[9, 10, 11, 12]",[9],"[9, 10, 11, 12]"
2,"16,17,18,19,20,21",-1,"[17, 16, 18, 19, 20, 21]",[17],"[17, 16, 18, 19, 20]"
3,"24,25,26,27,24",-1,"[24, 25, 26, 27]",[24],"[24, 25, 26, 27]"
4,"34,35,36,34,37,35,36,37,38,39,38,39",-1,"[38, 34, 35, 36, 37, 39]",[38],"[38, 34, 35, 36, 37]"
5,42,-1,[42],[42],[42]
6,"47,48,49",-1,"[47, 48, 49]",[47],"[47, 48, 49]"
7,"59,60,61,62,60,63,64,65,66,61,67,68,67","67,60,63","[60, 63, 67, 59, 61, 62, 64, 65, 66, 68]",[60],"[60, 63, 67, 59, 61]"
8,"71,72,73,74",-1,"[73, 71, 72, 74]",[73],"[73, 71, 72, 74]"
9,"76,77,78",-1,"[76, 77, 78]",[76],"[76, 77, 78]"
10,"84,85,86,87,88,89,84,90,91,92,93,86",86,"[86, 85, 93, 84, 87, 88, 89, 90, 91, 92]",[86],"[86, 85, 93, 84, 87]"
11,"114,77,115,116,117,118,119,120,121,120,122,123...",-1,"[114, 77, 115, 116, 117, 118, 119, 120, 121, 1...",[114],"[114, 77, 115, 116, 117]"
12,"129,130,131,132,133,134",-1,"[129, 130, 131, 132, 133, 134]",[129],"[129, 130, 131, 132, 133]"
13,"93,137,138,139,140,141,142,141,143,144",-1,"[137, 93, 138, 141, 144, 139, 140, 142, 143]",[137],"[137, 93, 138, 141, 144]"
14,"97,155,156,155,157,93",-1,"[157, 93, 97, 155, 156]",[157],"[157, 93, 97, 155, 156]"
15,"163,87,129,164,129,130,165,166",-1,"[163, 87, 129, 164, 130, 165, 166]",[163],"[163, 87, 129, 164, 130]"
16,"173,174,175,174,176",-1,"[173, 174, 175, 176]",[173],"[173, 174, 175, 176]"
17,"136,192",-1,"[136, 192]",[136],"[136, 192]"
18,"195,196",-1,"[196, 195]",[196],"[196, 195]"
19,"138,198,199,127",199,"[138, 199, 127, 198]",[138],"[138, 199, 127, 198]"
20,"206,207",-1,"[206, 207]",[206],"[206, 207]"
21,"216,217",-1,"[216, 217]",[216],"[216, 217]"
22,220,-1,[220],[220],[220]
23,"223,224,225",-1,"[223, 224, 225]",[223],"[223, 224, 225]"
24,"241,242,243,244,245,246,247,248,249,242",-1,"[241, 249, 242, 243, 244, 245, 246, 247, 248]",[241],"[241, 249, 242, 243, 244]"
25,"253,254,169",-1,"[253, 254, 169]",[253],"[253, 254, 169]"
26,"262,263,262,264",-1,"[262, 264, 263]",[262],"[262, 264, 263]"
27,"265,266,267,268,269,270,269,268,271,272,273,27...",-1,"[265, 266, 267, 268, 269, 270, 271, 272, 273, ...",[265],"[265, 266, 267, 268, 269]"
28,291,-1,[291],[291],[291]
29,"296,297,298,299",-1,"[296, 297, 298, 299]",[296],"[296, 297, 298, 299]"
...,...,...,...,...,...
49970,"102761,24754,48117,14732,162,46291,102762,1092...",-1,"[977, 162, 1140, 14565, 2084, 102761, 24754, 4...",[977],"[977, 162, 1140, 14565, 2084]"
49971,"9399,93922,23810,16769,10976,16580,102776,1027...",-1,"[2287, 438, 10976, 16352, 30128, 5055, 15300, ...",[2287],"[2287, 438, 10976, 16352, 30128]"
49972,"13344,13037,99575,22310,34469,16194,90788,2146...",-1,"[16194, 2070, 13037, 1011, 5788, 5922, 14205, ...",[16194],"[16194, 2070, 13037, 1011, 5788]"
49973,"10258,22738,982,17615,48769,102794,49168,1431,...",-1,"[982, 49168, 1431, 33637, 2513, 10258, 22738, ...",[982],"[982, 49168, 1431, 33637, 2513]"
49974,"16024,8367,16024,17060,17061,75302,49246,102801",-1,"[16024, 8367, 17060, 17061, 75302, 49246, 102801]",[16024],"[16024, 8367, 17060, 17061, 75302]"
49975,"18211,40362,81465,86547,40362,81465",-1,"[18211, 40362, 81465, 86547]",[18211],"[18211, 40362, 81465, 86547]"
49976,"1748,8509,8521,7594",-1,"[1748, 8521, 7594, 8509]",[1748],"[1748, 8521, 7594, 8509]"
49977,"56484,62543,57533",-1,"[57533, 56484, 62543]",[57533],"[57533, 56484, 62543]"
49978,"38846,16421,8321",-1,"[38846, 16421, 8321]",[38846],"[38846, 16421, 8321]"
49979,"20408,33706,41416,33706,41416,20408,41416,2040...",-1,"[20408, 33706, 41416]",[20408],"[20408, 33706, 41416]"
49980,"390,4535,381,382,381",-1,"[4535, 390, 381, 382]",[4535],"[4535, 390, 381, 382]"
49981,"64552,25931,2807","25935,2807","[2807, 64552, 25931]",[2807],"[2807, 64552, 25931]"
49982,"30508,2915,17064,38717",-1,"[30508, 2915, 17064, 38717]",[30508],"[30508, 2915, 17064, 38717]"
49983,"2582,3059",-1,"[2582, 3059]",[2582],"[2582, 3059]"
49984,49195,-1,[49195],[49195],[49195]
49985,"35572,27139,42308,2503,49977,35569,17942,35569...",-1,"[21841, 35572, 27139, 42308, 2503, 49977, 3556...",[21841],"[21841, 35572, 27139, 42308, 2503]"
49986,"17711,21841,17711,21841,17711,21841",-1,"[21841, 17711]",[21841],"[21841, 17711]"
49987,"1480,2639,1480,1054,557,10991,1055,1054,10991,...",-1,"[1054, 1055, 1480, 2639, 557, 10991, 2187, 171...",[1054],"[1054, 1055, 1480, 2639, 557]"
49988,"29504,14159,24162",-1,"[29504, 14159, 24162]",[29504],"[29504, 14159, 24162]"
49989,"9831,3059,2581",-1,"[2581, 9831, 3059]",[2581],"[2581, 9831, 3059]"
49990,"42379,64439,43687,47097,18694,32320",-1,"[42379, 64439, 43687, 47097, 18694, 32320]",[42379],"[42379, 64439, 43687, 47097, 18694]"
49991,"91921,20251,5063,21742,5063,20251,34927",91921,"[91921, 5063, 20251, 21742, 34927]",[91921],"[91921, 5063, 20251, 21742, 34927]"
49992,"102802,83951,102802",-1,"[102802, 83951]",[102802],"[102802, 83951]"
49993,"28165,24167,28165",-1,"[28165, 24167]",[28165],"[28165, 24167]"
49994,"99782,92081,18697,92081,18697,42615,99782,7188...",-1,"[99782, 18697, 92081, 42615, 71885, 72335, 102...",[99782],"[99782, 18697, 92081, 42615, 71885]"
49995,"32291,60520,32291,38220",32291,"[32291, 60520, 38220]",[32291],"[32291, 60520, 38220]"
49996,"60479,28288,102804,102805",-1,"[60479, 28288, 102804, 102805]",[60479],"[60479, 28288, 102804, 102805]"
49997,"980,20025,980,20025,980,20025,980,20025",-1,"[20025, 980]",[20025],"[20025, 980]"
49998,"8844,42500,8838,8172,29237,352,8847,6681,8827,...",-1,"[352, 8847, 8827, 8844, 42500, 8838, 8172, 292...",[352],"[352, 8847, 8827, 8844, 42500]"
49999,"39047,102806,27774",-1,"[39047, 102806, 27774]",[39047],"[39047, 102806, 27774]"

# Test

In [322]:
testdf

,v,b,v_sorted,b_sorted,v_recom_1,v_recom_5,b_recom_1,b_recom_5,v_p_5,v_r_5,v_p_1,v_r_1,b_p_5,b_r_5,b_p_1,b_r_1
0,"6,7,8",-1,"[7, 6, 8]","[8, 6, 7]",[7],"[7, 6, 8]",[8],"[8, 6, 7]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"13,14,15",-1,"[13, 14, 15]","[13, 14, 15]",[13],"[13, 14, 15]",[13],"[13, 14, 15]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"22,23",-1,"[22, 23]","[22, 23]",[22],"[22, 23]",[22],"[22, 23]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"28,29,30,31,32,33",-1,"[28, 33, 30, 29, 32, 31]","[28, 29, 30, 32, 31, 33]",[28],"[28, 33, 30, 29, 32]",[28],"[28, 29, 30, 32, 31]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"40,41",-1,"[40, 41]","[40, 41]",[40],"[40, 41]",[40],"[40, 41]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,"43,44,43,45,43,45,43,46",-1,"[44, 46, 43, 45]","[44, 46, 43, 45]",[44],"[44, 46, 43, 45]",[44],"[44, 46, 43, 45]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,"50,51,47,52,49,53,54,55,56,57,58",-1,"[50, 51, 55, 57, 47, 49, 53, 56, 58, 52, 54]","[50, 51, 47, 52, 49, 53, 54, 55, 56, 57, 58]",[50],"[50, 51, 55, 57, 47]",[50],"[50, 51, 47, 52, 49]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,"63,68,69,70,66,61,59,61,66,68","66,63","[63, 68, 66, 61, 59, 69, 70]","[63, 68, 69, 70, 66, 61, 59]",[63],"[63, 68, 66, 61, 59]",[63],"[63, 68, 69, 70, 66]",0.4,1.0,1.0,0.5,0.4,1.0,1.0,0.5
8,75,-1,[75],[75],[75],[75],[75],[75],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,"79,80,81,82,83",-1,"[79, 83, 80, 81, 82]","[80, 83, 79, 81, 82]",[79],"[79, 83, 80, 81, 82]",[80],"[80, 83, 79, 81, 82]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,"94,95,94,96,97,98,99,100,101,80,102,103,104,10...",-1,"[106, 99, 113, 109, 101, 110, 111, 97, 80, 103...","[99, 80, 106, 94, 95, 96, 97, 98, 100, 101, 10...",[106],"[106, 99, 113, 109, 101]",[99],"[99, 80, 106, 94, 95]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,"125,126,127,128",-1,"[127, 126, 125, 128]","[125, 126, 127, 128]",[127],"[127, 126, 125, 128]",[125],"[125, 126, 127, 128]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,"135,136",-1,"[136, 135]","[135, 136]",[136],"[136, 135]",[135],"[135, 136]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,"145,146,147,148,149,150,151,152,153,154",-1,"[151, 149, 145, 148, 146, 154, 147, 152, 153, ...","[145, 146, 147, 148, 149, 150, 151, 152, 153, ...",[151],"[151, 149, 145, 148, 146]",[145],"[145, 146, 147, 148, 149]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,"158,159,160,159,161,162",162,"[158, 162, 160, 159, 161]","[158, 162, 160, 159, 161]",[158],"[158, 162, 160, 159, 161]",[158],"[158, 162, 160, 159, 161]",0.2,1.0,0.0,0.0,0.2,1.0,0.0,0.0
15,"167,168,169,170,79,171,170,79,172",-1,"[170, 172, 171, 79, 167, 168, 169]","[170, 167, 168, 169, 79, 171, 172]",[170],"[170, 172, 171, 79, 167]",[170],"[170, 167, 168, 169, 79]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,"177,178,179,180,181,178,182,183,184,185,186,90...",-1,"[182, 183, 184, 187, 190, 180, 177, 179, 178, ...","[177, 178, 179, 180, 181, 182, 183, 184, 185, ...",[182],"[182, 183, 184, 187, 190]",[177],"[177, 178, 179, 180, 181]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,"93,193,194",-1,"[93, 194, 193]","[93, 193, 194]",[93],"[93, 194, 193]",[93],"[93, 193, 194]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,"122,197,182",-1,"[182, 122, 197]","[122, 197, 182]",[182],"[182, 122, 197]",[122],"[122, 197, 182]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,"200,201,202,203,204","201,205","[204, 202, 203, 200, 201]","[204, 202, 200, 201, 203]",[204],"[204, 202, 203, 200, 201]",[204],"[204, 202, 200, 201, 203]",0.2,0.5,0.0,0.0,0.2,0.5,0.0,0.0
20,"208,209,210,211,212,213,214,215",-1,"[212, 214, 215, 213, 211, 209, 210, 208]","[215, 208, 209, 210, 211, 212, 213, 214]",[212],"[212, 214, 215, 213, 211]",[215],"[215, 208, 209, 210, 211]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,"218,219",-1,"[218, 219]","[218, 219]",[218],"[218, 219]",[218],"[218, 219]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,"221,222,221",-1,"[222, 221]","[221, 222]",[222],"[222, 221]",[221],"[221, 222]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,"226,227,228,229,230,231,232,230,232,233,232,23...",-1,"[240, 227, 231, 235, 239, 228, 238, 230, 234, ...","[228, 226, 227, 229, 230, 231, 232, 233, 234, ...",[240],"[240, 227, 231, 235, 239]",[228],"[228, 226, 227, 229, 230]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,"250,251,252",-1,"[251, 252, 250]","[251, 250, 252]",[251],"[251, 252, 250]",[251],"[251, 250, 252]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,"114,255,256,257,258,259,260,261",-1,"[259, 258, 260, 255, 114, 257, 261, 256]","[257, 258, 114, 256, 255, 259, 260, 261]",[259],"[259, 258, 260, 255, 114]",[257],"[257, 258, 114, 256, 255]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,264,-1,[264],[264],[264],[264],[264],[264],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,"284,285,286,287,288,289,290",-1,"[284, 288, 289, 285, 286, 287, 290]","[284, 285, 286, 287, 288, 289, 290]",[284],"[284, 288, 289, 285, 286]",[284],"[284, 285, 286, 287, 288]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,"292,293,294,295",-1,"[292, 294, 295, 293]","[293, 292, 294, 295]",[292],"[292, 294, 295, 293]",[293],"[293, 292, 294, 295]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,"300,7,301,302,6",-1,"[7, 6, 301, 302, 300]","[300, 7, 6, 302, 301]",[7],"[7, 6, 301, 302, 300]",[300],"[300, 7, 6, 302, 301]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49970,"1869,36151,43923,3049,2845,56337,12802,49106,6...",-1,"[2845, 1869, 2070, 9380, 1050, 1783, 7848, 128...","[2070, 1869, 438, 2845, 49106, 30594, 36151, 4...",[2845],"[2845, 1869, 2070, 9380, 1050]",[2070],"[2070, 1869, 438, 2845, 49106]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49971,"42624,55383,8067,25513,31555,10361,93753,54591...",-1,"[10361, 21485, 16785, 12996, 9801, 25513, 4409...","[10361, 21485, 9801, 42624, 55383, 8067, 25513...",[10361],"[10361, 21485, 16785, 12996, 9801]",[10361],"[10361, 21485, 9801, 42624, 55383]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49972,"29965,18125,41086,11074,1262,58457,65283,43742...",-1,"[2397, 11074, 6959, 18125, 6052, 1262, 439, 18...","[1262, 2397, 11074, 18748, 51002, 6052, 51219,...",[2397],"[2397, 11074, 6959, 18125, 6052]",[1262],"[1262, 2397, 11074, 18748, 51002]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49973,"102799,102800,51579,64938,51579",-1,"[64938, 102799, 102800, 51579]","[102799, 102800, 51579, 64938]",[64938],"[64938, 102799, 102800, 51579]",[102799],"[102799, 102800, 51579, 64938]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49974,"16027,483,9989,22918,15922,26426,12842,26427,3...",-1,"[15922, 8367, 22918, 9989, 483, 26426, 16027, ...","[15922, 483, 16027, 9989, 22918, 26426, 12842,...",[15922],"[15922, 8367, 22918, 9989, 483]",[15922],"[15922, 483, 16027, 9989, 22918]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49975,"21150,26577,21150,26577,21150",-1,"[26577, 21150]","[21150, 26577]",[26577],"[26577, 21150]",[21150],"[21150, 26577]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49976,59406,-1,[59406],[59406],[59406],[59406],[59406],[59406],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49977,"56484,20127,16894,30782,16899,30782,73872,1414...",-1,"[20127, 16899, 44198, 30782, 16894, 14145, 564...","[56484, 20127, 16894, 30782, 16899, 73872, 141...",[20127],"[20127, 16899, 44198, 30782, 16894]",[56484],"[56484, 20127, 16894, 30782, 16899]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49978,"38846,56484",-1,"[38846, 56484]","[38846, 56484]",[38846],"[38846, 56484]",[38846],"[38846, 56484]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49979,"2539,11416,25567,11416,25567,11416",-1,"[2539, 11416, 25567]","[2539, 11416, 25567]",[2539],"[2539, 11416, 25567]",[2539],"[2539, 11416, 25567]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49980,"25935,50601,84172,25935",-1,"[25935, 50601, 84172]","[25935, 50601, 84172]",[25935],"[25935, 50601, 84172]",[25935],"[25935, 50601, 84172]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49981,"127,138,804,5771,6688,62387,82091,8189,82091,2...",-1,"[127, 9380, 9497, 138, 804, 5771, 25367, 6688,...","[127, 138, 6688, 804, 5771, 62387, 82091, 8189...",[127],"[127, 9380, 9497, 138, 804]",[127],"[127, 138, 6688, 804, 5771]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49982,"15237,8280,9470",-1,"[9470, 8280, 15237]","[15237, 8280, 9470]",[9470],"[9470, 8280, 15237]",[15237],"[15237, 8280, 9470]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49983,"72107,44288,89169,439,44288,28061,89169,28061,...",-1,"[4173, 439, 30567, 44288, 72107, 78663, 89169,...","[72107, 44288, 89169, 439, 28061, 78663, 30567...",[4173],"[4173, 439, 30567, 44288, 72107]",[72107],"[72107, 44288, 89169, 439, 28061]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49984,"55813,2502,55813,17711,21841,22562,32506,2504,...",-1,"[17711, 21841, 22562, 2502, 27140, 35572, 2713...","[21841, 55813, 2502, 17711, 22562, 32506, 2504...",[17711],"[17711, 21841, 22562, 2502, 27140]",[21841],"[21841, 55813, 2502, 17711, 22562]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49985,"21841,17711,21841,17711,21841,17711,21841,1771...",21841,"[17711, 21841, 22562]","[21841, 17711, 22562]",[17711],"[17711, 21841, 22562]",[21841],"[21841, 17711, 22562]",0.2,1.0,0.0,0.0,0.2,1.0,1.0,1.0
49986,"884,1867,17590",-1,"[884, 1867, 17590]","[884, 1867, 17590]",[884],"[884, 1867, 17590]",[884],"[884, 1867, 17590]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49987,"9911,14562,38351,408,1498,408,9726,70125,27239...",-1,"[9911, 1498, 5365, 14562, 408, 9726, 5366, 142...","[38351, 408, 1427, 9911, 14562, 1498, 9726, 70...",[9911],"[9911, 1498, 5365, 14562, 408]",[38351],"[38351, 408, 1427, 9911, 14562]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49988,"2582,59783,2582,3059",-1,"[3059, 2582, 59783]","[2582, 59783, 3059]",[3059],"[3059, 2582, 59783]",[2582],"[2582, 59783, 3059]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49989,"6570,882,6570,6,882,6,2954,6570,882,9669",-1,"[6, 6570, 882, 2954, 9669]","[6, 6570, 882, 2954, 9669]",[6],"[6, 6570, 882, 2954, 9669]",[6],"[6, 6570, 882, 2954, 9669]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49990,"73,204,609,10765",-1,"[73, 204, 609, 10765]","[204, 73, 609, 10765]",[73],"[73, 204, 609, 10765]",[204],"[204, 73, 609, 10765]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49991,"47538,1636,72785,33054,1636,13989",-1,"[33054, 1636, 13989, 47538, 72785]","[47538, 1636, 72785, 33054, 13989]",[33054],"[33054, 1636, 13989, 47538, 72785]",[47538],"[47538, 1636, 72785, 33054, 13989]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49992,"39006,63947",-1,"[63947, 39006]","[39006, 63947]",[63947],"[63947, 39006]",[39006],"[39006, 63947]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49993,"7537,1935",-1,"[1935, 7537]","[7537, 1935]",[1935],"[1935, 7537]",[7537],"[7537, 1935]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49994,"33049,9667,1858,13995,1857,14365,9111,34969",-1,"[9667, 1858, 14365, 33049, 13995, 9111, 1857, ...","[33049, 9667, 1858, 13995, 1857, 14365, 9111, ...",[9667],"[9667, 1858, 14365, 33049, 13995]",[33049],"[33049, 9667, 1858, 13995, 1857]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49995,"37637,18363,18131",-1,"[37637, 18131, 18363]","[37637, 18363, 18131]",[37637],"[37637, 18131, 18363]",[37637],"[37637, 18363, 18131]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49996,"35402,10150,35402,10150,35402,88962,49526,3540...",-1,"[49526, 35402, 10150, 88962]","[35402, 10150, 88962, 49526]",[49526],"[49526, 35402, 10150, 88962]",[35402],"[35402, 10150, 88962, 49526]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49997,"161,1345,161,1345,161,1345,161,30853,161",-1,"[161, 1345, 30853]","[161, 1345, 30853]",[161],"[161, 1345, 30853]",[161],"[161, 1345, 30853]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49998,"26236,16572,26236",-1,"[16572, 26236]","[26236, 16572]",[16572],"[16572, 26236]",[26236],"[26236, 16572]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49999,"80626,102807,102808,102809",-1,"[80626, 102807, 102808, 102809]","[80626, 102807, 102808, 102809]",[80626],"[80626, 102807, 102808, 102809]",[80626],"[80626, 102807, 102808, 102809]",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [316]:
# Сортируем строку в соответствии с частотой
testdf['v_sorted']=testdf.v.apply(sort_row_by_view)
testdf['b_sorted']=testdf.v.apply(sort_row_by_buy)

In [318]:
# Формируем рекомендации для строки
testdf['v_recom_1']=testdf.v_sorted.apply(get_recom1)
testdf['v_recom_5']=testdf.v_sorted.apply(get_recom5)
testdf['b_recom_1']=testdf.b_sorted.apply(get_recom1)
testdf['b_recom_5']=testdf.b_sorted.apply(get_recom5)

In [320]:
testdf.fillna(-1,inplace=True)

In [321]:
# Cчитаем метрики
calc_4_metric(testdf,'v')
calc_4_metric(testdf,'b')

In [323]:
write_avg_metric('res2.txt',testdf.v_r_1,testdf.v_p_1,testdf.v_r_5,testdf.v_p_5)

In [324]:
write_avg_metric('res4.txt',testdf.b_r_1,testdf.b_p_1,testdf.b_r_5,testdf.b_p_5)