In [1]:
import pandas as pd

In [9]:
df = pd.read_csv('data.csv', index_col=0)

In [10]:
df.head(2)

,id,text,date,attachments.link.url,attachments.link.title,comments.count,reposts.count,views.count
0,23460201,В канун Нового года все желания сбываются! ✨\r...,1545134415,NaN,NaN,248,48,157915
1,23514762,NaN,1545509326,https://ria.ru/20181222/1548497667.html,"Кадыров рассказал, как хочет завершить карьеру",3,2,1948

In [8]:
df.shape

(1000, 9)

In [12]:
df['date_pd'] = pd.to_datetime(df['date'],unit='s')

In [14]:
df.head(3)

,id,text,date,attachments.link.url,attachments.link.title,comments.count,reposts.count,views.count,date_pd
0,23460201,В канун Нового года все желания сбываются! ✨\r...,1545134415,NaN,NaN,248,48,157915,2018-12-18 12:00:15
1,23514762,NaN,1545509326,https://ria.ru/20181222/1548497667.html,"Кадыров рассказал, как хочет завершить карьеру",3,2,1948,2018-12-22 20:08:46
2,23514714,NaN,1545508947,https://ria.ru/20181222/1548460367.html,Крым ждет рекордное число туристов в новогодни...,18,0,6452,2018-12-22 20:02:27

In [23]:
df['year'] = df.apply(lambda row: row['date_pd'].year, axis=1)

In [25]:
df['month'] = df.apply(lambda row: row['date_pd'].month, axis=1)

In [50]:
df['day'] = df.apply(lambda row: row['date_pd'].day, axis=1)

In [72]:
df['is_weekend'] = df.apply(lambda row: row['date_pd'].weekday()>4, axis=1)

In [73]:
df['weekday'] = df.apply(lambda row: row['date_pd'].weekday(), axis=1)

In [74]:
df[['year', 'month', 'day', 'weekday']].describe()

         year   month          day      weekday
count  1000.0  1000.0  1000.000000  1000.000000
mean   2018.0    12.0    15.926000     2.748000
std       0.0     0.0     3.824284     1.881498
min    2018.0    12.0     9.000000     0.000000
25%    2018.0    12.0    13.000000     1.000000
50%    2018.0    12.0    16.000000     3.000000
75%    2018.0    12.0    19.000000     4.000000
max    2018.0    12.0    22.000000     6.000000

In [77]:
gb = df.groupby(by = 'weekday')

In [82]:
gb[['comments.count','reposts.count','views.count']].mean()

         comments.count  reposts.count   views.count
weekday
0            105.423841      22.158940  76670.344371
1            121.440252      16.201258  71230.597484
2            123.642857      17.025974  69358.993506
3            109.808383      13.580838  66443.544910
4            121.360000      16.460000  68455.526667
5            108.425373      14.328358  62615.776119
6             93.188235      14.223529  75750.082353

In [48]:
for_plot.head(1)

     comments.count  reposts.count  views.count
day
9              1439            248      1371539

In [41]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

KeyError: 'day'