In [1]:
import statsmodels
import scipy as sc
import numpy as np
import pandas as pd
import statsmodels.formula.api as smf
import statsmodels.stats.api as sms
from statsmodels.graphics.regressionplots import plot_leverage_resid2
import matplotlib.pyplot as plt

In [2]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [3]:
frame = pd.read_csv("botswana.tsv", sep="\t", index_col=False) 
frame.head()

,ceb,age,educ,religion,idlnchld,knowmeth,usemeth,evermarr,agefm,heduc,urban,electric,radio,tv,bicycle
0,0,18,10,catholic,4.0,1.0,1.0,0,NaN,NaN,1,1.0,1.0,1.0,1.0
1,2,43,11,protestant,2.0,1.0,1.0,1,20.0,14.0,1,1.0,1.0,1.0,1.0
2,0,49,4,spirit,4.0,1.0,0.0,1,22.0,1.0,1,1.0,1.0,0.0,0.0
3,0,24,12,other,2.0,1.0,0.0,0,NaN,NaN,1,1.0,1.0,1.0,1.0
4,3,32,13,other,3.0,1.0,1.0,1,24.0,12.0,1,1.0,1.0,1.0,1.0

In [4]:
for col in frame.columns:
    print col, len(frame[col].value_counts())

ceb 14
age 35
educ 21
religion 4
idlnchld 19
knowmeth 2
usemeth 2
evermarr 2
agefm 35
heduc 21
urban 2
electric 2
radio 2
tv 2
bicycle 2

In [5]:
naframe=frame.dropna()
naframe.shape

(1834, 15)

In [6]:
frame.drop('evermarr', axis=1, inplace=True)

In [7]:
vec = map(np.int,frame.agefm.isnull())
frame['nevermarr']=vec
frame.agefm = frame.agefm.fillna(0)

In [20]:
frame.heduc.loc[(frame.nevermarr==1)]=-1

In [21]:
frame.head()

,ceb,age,educ,religion,idlnchld,knowmeth,usemeth,agefm,heduc,urban,electric,radio,tv,bicycle,nevermarr
0,0,18,10,catholic,4.0,1.0,1.0,0.0,-1.0,1,1.0,1.0,1.0,1.0,1
1,2,43,11,protestant,2.0,1.0,1.0,20.0,14.0,1,1.0,1.0,1.0,1.0,0
2,0,49,4,spirit,4.0,1.0,0.0,22.0,1.0,1,1.0,1.0,0.0,0.0,0
3,0,24,12,other,2.0,1.0,0.0,0.0,-1.0,1,1.0,1.0,1.0,1.0,1
4,3,32,13,other,3.0,1.0,1.0,24.0,12.0,1,1.0,1.0,1.0,1.0,0

In [118]:
frame.heduc.isnull().value_counts()

False    4238
True      123
Name: heduc, dtype: int64